# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Cache
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

# Build
build/
dist/
*.egg-info/

# Logs
*.log

